{% extends "base.html" %}
{% block head %}
    {{super()}}
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div> 
<div class="row">
    <div class="col card hoverable l8 offset-l2 m10 offset-m1 s12">
        <div class="card-content">
            <h3 class='teal-text center'>Welcome Back!</h3>
            <div class="center">
                <div class="row">
                    <div class="col s4">
                        <img class='responsive-img' src="data:image/jpeg;base64,{{context.photo_base64}}"/>
                    </div>
                    <div class="col s8">                      
                        <div class="input-field col s12">
                            <i class="material-icons prefix"><span class='teal-text'>fingerprint</span></i>
                            <input id="name" type="text" value="{{context.admission_no}}" class="validate">
                            <label for="name">Admission Number</label>
                        </div>  
                        <div class="input-field col s12">
                            <i class="material-icons prefix"><span class='teal-text'>account_box</span></i>
                            <input id="name" type="text" value="{{context.name}}" class="validate">
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix"><span class='teal-text'>domain</span></i>
                            <input id="name" type="text" value="{{context.branch_name}}" class="validate">
                            <label for="name">Branch</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a class="center btn waves-effect waves-light" href='/'>
                        Scan another code
                        <i class="material-icons left">arrow_back</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}